@import url(http://fonts.googleapis.com/css?family=Roboto);

html,body{
	margin:0px;	
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

section{
	width: 100%;
	height:100%;
}

.background{
	height: 100%;
	background:url('../Imagenes/Background.jpg');
	background-repeat: no-repeat;	
	background-size: 100% 100%;
}

.inicio {
	background:rgba(0, 0, 0, 0.40);	
	height: 100%;
	color: #FFF;
	text-align: center;
}

.inicio .subTitulo{
	font-size: 42px;
  	padding-top: 77px;
}

.inicio .titulo{
	font-size: 64px;
  	padding-top: 19px;
  	color: #65AD47;
}

.inicio .botonjugar{
  margin: 0 auto;
  height: 62px;
  width: 160px;
  background: #65AD47;
  border: 2px solid #FFF;
  border-radius: 5px;
  margin-top: 125px;
  font-size: 30px;
  padding-top: 15px;
}

.registrarme{
	text-decoration: underline;
	color: #FFF;
	display: block;
	margin-top: 35px;
}

#totalJugadores{
	margin-top: 35px;
	font-size: 30px;
}

/*Nosotros*/
.nosotros{
	background: #333333;
	height: 100%;
}
.nosotros .header{
	background: #F3F3F3;
  height: 70%;
	background-repeat: no-repeat;	
	background-size: 100% 100%;
  color: #000;	  
}

.nosotros .header .titulo{
	margin-left: 35px;
  font-size: 64px;
  padding-top: 2%; 
  color: #666666; 	
}

.nosotros .header .article{
	vertical-align: top;
	width: 40%;
	display: inline-block;
	padding: 50px;
}
.nosotros .header .article p{
  width: 530px;
  font-size: 17px;
  margin-left: 50px;
  line-height: 24px;
  text-align: justify;
}
.nosotros .footer{
	padding: 3%;
	color:#FFF;
	text-align: center;
}

.nosotros .footer img{
	width: 8%;
	display: inline-block;
}
.nosotros .footer p{
	  display: inline-block;
  width: 752px;
  font-size: 20px;
  margin: 2%;
  font-style: italic;
}
.nosotros .footer p span{
 	font-size: 16px;
  text-align: end;
  font-style: normal;
  padding-left: 84%;
}

.Media{
  margin: 0 auto;
  width: 50%;
  
}


.Comunidad {
	text-align: center;	
	background: #FFFFFF;
	height: 100%;
}

.Comunidad .titulo{
	font-size: 54px;
  	padding-top: 19px;
  	color: #65AD47;
}

video{
	margin: 0 auto;
	width: 100%;	
	border-radius: 15px;
}